<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />
                <rule name="Redirect home page" enabled="true" stopProcessing="true">
                    <match url="^$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="https://{HTTP_HOST}/agent/CrAgent.htm" />
                </rule>
                <rule name="NODE Internal Server" enabled="true" stopProcessing="true">
                    <match url="^internal-server" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <serverVariables>
                        <set name="X-Forwarded-Proto" value="https" />
                        <set name="Host" value="{HTTP_HOST}" />
                    </serverVariables>
                    <action type="Rewrite" url="http://10.x.x.x:8118/get" logRewrittenUrl="true" />
                </rule>
                <rule name="Agent Request" stopProcessing="true">
                    <match url="^agent/(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <serverVariables>
                        <set name="X-Forwarded-Proto" value="https" />
                        <set name="Host" value="{HTTP_HOST}" />
                    </serverVariables>
                    <action type="Rewrite" url="http://10.x.x.x:8088/agent/{R:1}" logRewrittenUrl="true" />
                </rule>
                <rule name="Reject if no Query String" enabled="true" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{QUERY_STRING}" pattern="^$" />
                    </conditions>
                    <action type="CustomResponse" statusCode="403" subStatusCode="403" statusReason="Forbidden" statusDescription="Forbidden to access" />
                </rule>
                <rule name="All requests" enabled="true" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{QUERY_STRING}" pattern=".+" />
                    </conditions>
                    <serverVariables>
                        <set name="Host" value="{HTTP_HOST}" />
                        <set name="X-Forwarded-Proto" value="https" />
                    </serverVariables>
                    <action type="Rewrite" url="http://10.x.x.x:8088/{R:1}" appendQueryString="true" logRewrittenUrl="true" />
                </rule>
            </rules>
        </rewrite>
        <directoryBrowse enabled="true" />
        <defaultDocument>
            <files>
                <add value="crAgent.htm" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
